html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(246, 244, 210);
    padding: 0;
    margin: 0;
    padding-top: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    padding: 10px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    color: rgb(113, 113, 113);
}

button, a img {
    cursor: pointer;
}

.invisible {
    display: none;
}


header {
    width: 100%;
    background-color: rgb(241, 156, 121);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 98%;
    margin-top: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}


nav li {
    /*Needed to avoid nav elements having dots.*/
    list-style: none;
}


.logo {
    width: 45vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 7vmin;
}

.logo h1 {
    padding-left: 1.5vmin;
    font-size: 2.7vmin;
}

.title {
    font-size: large;
    font-weight: bold;
}


nav{
    min-height: 60px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

header a, header h1 {
    transition: 0.7s ease;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.0s ease-in-out;
    transition: all 0.0s ease-in-out;
    background-color: black;
}

#social-media-normal, #social-media-hamburger {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#social-media-hamburger {
    display: none;
}

.social-media-icon {
    width: 30px;
}


header a, header h1 {
    color: black;
    font-weight: bold;
}

header a:link, header h1:link {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

header a:visited, header h1:visited {
    text-decoration: none;
    color: black
}

header a:hover, header h1:hover {
    color: white;
  }


.social-media-icon {
    width: 4vmin;
}

footer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(203, 223, 189);
    padding-bottom: 0;
    font-size: 14pt;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
}

.footer-top {
    font-size: large;
    display: flex;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
}

.footer-bottom {
    
    display: flex;
    justify-content: center;
    width: 100%;
    border-width: 1px;
    border-top: solid;
    margin: 0;
}

#address-container{
    display: flex;
    align-items: center;
    justify-content: center;
}


#footer-copyright, #footer-author, #project-title {
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    border-right: solid;
    border-color: black;
    padding-left: 20px;
    padding-right: 20px;
}

#last-modified {
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding-left: 20px;
}


main {
    margin: auto;
    max-width: 1500px;  
}

main.home div.tile {
    margin: 8px;
    background-color: rgb(212, 224, 155);
    width: 100%;
}

main.home div.tile:hover {
    background-color: rgb(200, 210, 146);
}

.spotlights img {
    width: 100%;
}

.tile-text {
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 20px;
    margin: 0px;
    gap: 0px;
}



main.home .hero {
    display: flex;
    margin: 20px;
    padding: 30px;
    align-items: center;
}

#hero-title {
    font-size: 4vmin;
    font-weight:900;
}

main.home .hero img {
    width: 55%;
    transition: transform 0.2s ease-in-out;
}


main.home .hero img:hover {
    transform: translateY(-2px); 
}


main.home #call-to-action {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    padding-left: 6%;
    padding-right: 8%;
    gap: 10px;
}

main.home button {
    color: white;
    font-weight: bold;
    font-size: large;
    background-color: rgb(164, 74, 63);
    padding: 20px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    transition: 0.7s ease;
}

main.home button:hover {
    color: rgb(164, 74, 63);
    background-color: white;
}




.button {
    color: white;
    font-weight: bold;
    font-size: large;
    background-color: rgb(164, 74, 63);
    padding: 300px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    transition: 0.7s ease;
}

.button:hover {
    color: rgb(164, 74, 63);
    background-color: white;
}




main.home .spotlights {
    width: auto;
    display: flex;
}

#weather .tile-text {
    display: none;
}

.weather-info{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
    align-items: center;
}

.weather-info img {
    width: 30%;
    padding-top: 10px;
}

.weather-info #temperature {
    font-size: 5vmin;
}

#forecast {
    display: flex;
    align-items: center;
    text-align: center;
}

#forecast .weather-info {
    width: 30px;
}

#forecast #temperature {
    font-size: 3vmin;
}

#forecast img {
    width: 25%;
}

main.home #schedule {
    background-color: rgb(218, 163, 163);
}




main.home #social {

    background-color: rgb(139, 198, 179);
    justify-content: space-between;
    align-items: center;

}



.hashtags {
  display: block;
  background: -webkit-linear-gradient(purple, #d553a1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  font-size: 4vmin;
  padding-top: 20px;
}

#social #username{
    color: rgb(160, 44, 120);
  }


td {
    text-align: center;
}











/* ABOUT US */

main.about-us .hero {
    background-color: rgb(200, 210, 146);
    display: flex;
    margin: 20px;
    padding: 30px;
    align-items: center;
}

main.about-us .hero img {
    width: 30%;
    transition: transform 0.2s ease-in-out;
}


main.about-us .hero img:hover {
    transform: translateY(-2px); 
}


main.about-us #call-to-action {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    padding-left: 6%;
    padding-right: 8%;
    gap: 10px;
}

main.about-us button {
    color: white;
    font-weight: bold;
    font-size: large;
    background-color: rgb(164, 74, 63);
    padding: 20px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    transition: 0.7s ease;
}

main.about-us button:hover {
    color: rgb(164, 74, 63);
    background-color: white;
}



main.about-us .location {
    display: flex;
    justify-content: space-around;
}







/* FRESH */

main.fresh {
    justify-content: center;
}

main.fresh #smoothie-prices {
    margin: 10px;
    width: 100%;
    background-color: rgb(212, 224, 155);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#smoothie-prices p {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

main.fresh #smoothie-prices img {
    width: 100%;
}

#smoothie-prices .tile-text {
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 70%;
    justify-content: center;
    align-items: center;
}

main.fresh #order-form {
    padding: 20px;
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

#order-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} 

#order-content {
    justify-content: space-between;
}

main.fresh input {
    padding: 8px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;

}

#customer-info input {
    width: 30%;
}

#flavors, #smoothie-base, #ice-option, #order-submit, #additional-instructions {
    margin-top: 20px ;
}

main.fresh select {
    background-color: rgb(203, 223, 189);
    padding: 8px;
    width: 50%;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

main.fresh #smoothies {
    display: flex;
}

main.fresh #store {
    margin: 20px;

    display: flex;
    align-items: center;
}

main.fresh .tile-text {
    padding: 40px;
}

main.fresh #store img {
    width: 50%;
}



#user-order {
    background-color: rgb(212, 224, 155);
    padding: 20px;
    margin: 10px;
    display: none;
    justify-content: space-around;
}

#order-info {

    
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main.fresh table {
    background-color: rgb(200, 210, 146);
    padding: 10px;
}

main.fresh table td {
    border-style: solid;
    padding: 9px;

}























































  @media(max-width:1024px){

    header {
        position: fixed;
        margin-left: 4px;
        margin-right: 4px;
        z-index: 10;
    }

    main {
        margin-top: 90px;
    }

    

    main.home .hero img {
        position:absolute;
        right: 30px;
        bottom: 35%;
        z-index: 1;
    }

    main.home #call-to-action {
        position: absolute;
        background-color: rgba(255, 255, 255, .9);
        padding: 20px;
        bottom: 45%;
        z-index: 2;
    }

    main.home .spotlights {
        margin-top: 320px;
    }

    main.home .hero img {
        position: absolute;
        right: 0px;
        width: 100%;
    }



    main.home #spotlights {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    main.home #weather {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    main.home #social {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .hashtags {
        font-size: 8vmin;
    }







    /* Hamburger Menu */

    .hamburger{
        display: block;
    }
    
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -150%;
        top: 50px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(241, 156, 121);
        width: 93.8%;
        margin-left: 4px;
        margin-right: 4px;
        text-align: center;
        transition: 0.0s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    

    /* Hamburger Menu */


    #social-media-hamburger {
        display: flex;
    }

    #social-media-normal {
        display: none;
    }  

}



@media screen and (max-width: 667px) {



    main.home .hero img {
        position: absolute;
        right: 0px;
        width: 100%;
    }

    main.home #spotlights {
        background-color: aqua;
        margin-top: 300px;
        display: flex;
        flex-direction: column;
    }

    main.home #spotlights {
        background-color: aqua;
        margin-top: 300px;
        display: flex;
        flex-direction: column;
    }

    

    .hashtags {
        font-size: 9vmin;
    }

    






    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #address-container {
        display: flex;
        flex-direction: column;
        padding: 2vmin;
    }

    #contact-info, #address-text {
        text-align: center;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #footer-copyright, #footer-author, #project-title, #last-modified {
        font-size: 2.5vmin;
        border-right: none;
    }


    

    
    
    

  }





    










  





 
